# Server Configuration
PORT=5000
NODE_ENV=development

# AWS Configuration
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# DynamoDB Configuration
# Table for storing bird information
DYNAMODB_BIRDS=Birds
# Table for storing user favorites (userId and birdId pairs)
DYNAMODB_FAVORITEBIRDS=FavoriteBirds

# S3 Configuration
S3_BUCKET_NAME=pinterest-of-birds

# Cognito Configuration
COGNITO_USER_POOL_ID=eu-north-1_0Pjd5GdAh
COGNITO_CLIENT_ID=1kspiro1c1kllcgmlci6d5obhc
